nav {
    display: flex;
    background-color: rgb(84, 32, 32);
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 50%;
    width: 50%;
    gap: 60px;

}

.link {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}

nav .nav-links li :hover {
    border-bottom: rgb(189, 69, 0);
}

